<p id="notice"><%= notice %></p>

<h1>Efimeridas</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Date</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @efimeridas.each do |efimerida| %>
      <tr>
        <td><%= efimerida.text %></td>
        <td><%= efimerida.date %></td>
        <td><%= efimerida.category %></td>
        <td><%= link_to 'Show', efimerida %></td>
        <td><%= link_to 'Edit', edit_efimerida_path(efimerida) %></td>
        <td><%= link_to 'Destroy', efimerida, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Efimerida', new_efimerida_path %>
